@import url(http://fonts.googleapis.com/css?family=Roboto);
body
{
	padding-top: 50px;
    background-color: #D4DFC7;
}

.carousells{
width: auto;
  height: 400px;
  max-height: 400px;
}

#categ_r{
    padding-left: 100px;
}
/*.crop {
 height: 400px;
 width: 800px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 400px;
}*/
img{
    width: 200px;
    height: 200px;
}
.center-img{
 width: 150px;
    height: 150px;   
}
.navbar-header .navbar-brand{
	color:red;
	font-family: Verdana;
}
.navbar-default .navbar-nav > li > a{
color: white;
font-family: roboto;

}
.navbar-default .navbar-nav > li > a:hover{
color: green;

}

.pb-modalreglog-container
    {
        margin-top: 100px;
    }

    .pb-modalreglog-legend
    {
        text-align: center;
    }

    .pb-modalreglog-input-group
    {
        margin: auto;
    }

    .pb-modalreglog-submit
    {
        margin-left: 5px;
    }

    .pb-modalreglog-form-reg
    {
        text-align: center;
    }

    .pb-modalreglog-footer p
    {
        text-align: center;
        margin-top: 20px;
    }

    #pb-modalreglog-progressbar
    {
        border-radius: 2px;
    }